/*
  The following CSS classes provide style overrides for the vuetify dependency.
  Many Vue-based MAST applications use vuetify components to provide a rich user-
  experience.

  Include this CSS into your vue project if vuetify is being used as a dependency.
  These classes override many veutify components to match what was defined
  and reviewed by the UX designer in support of realizing the UX-vision.
*/
.v-application {
  background-size: cover !important;
}

.v-app-bar {
  /* Default was 5, but we want to make this higher
  to ensure it remains over top of the search form
  on the results page */
  z-index: 6 !important;
}

.v-overlay {
  justify-content: center;
  align-items: center;
}

.v-btn--icon {
  border-radius: rgb(var(--v-border-radius-root)) !important;
}

.v-field-label {
  font-weight: 900;
}

.v-application .text-warning {
    /* We want the warning text to follow the error theme color */
    color: rgb(var(--v-theme-error)) !important;
}

a:not(.motdBar-hyperlink):not(.v-list-item):not(.v-btn):not(.warning--text) {
  /* Hyperlinks */
  color: #A75000;
  text-decoration: none;
}

.v-theme--dark a:not(.motdBar-hyperlink):not(.v-list-item):not(.v-btn) {
  /* Hyperlinks */
  /* Lighter than normal button/link to give contrast */
  /* Good for dark backgrounds */
  color: #FF9D42 !important;
  font-weight: bolder;
  text-decoration: none !important;
}
/* We only apply the light class if using a dark theme, otherwise it looks
   washed out. */
.v-theme--light a:not(.motdBar-hyperlink):not(.v-list-item):not(.v-btn) {
  /* Hyperlinks */
  /* Lighter than normal button/link to give contrast */
  /* Good for dark backgrounds */
  color: #A75000 !important;
  font-weight: bolder;
}

a.motdBar-hyperlink:not(.v-list-item):not(.v-btn) {
  /* Hyperlinks */
  /* Always use black underlined hyperlinks for MOTDBar */
  color: black !important;
  text-decoration: underline !important;
}

.v-btn--disabled.v-btn--variant-elevated,
.v-btn--disabled.v-btn--variant-flat {
  opacity: 0.6;
  background: rgb(var(--v-mast-scss-primary-button-background));
}

.v-btn:not(.v-btn--icon):not(.v-btn--variant-text):not(.v-btn--variant-outlined) {
  transition-duration: 0s !important;
  color: #FFFFFF !important;
}

.v-theme--dark .v-btn:hover,
.v-theme--dark .v-btn:focus-visible,
.v-theme--dark .v-list-item:not(.v-list-item--prepend):hover,
.v-theme--dark .v-list-item:not(.v-list-item--prepend):focus-visible {
  background: #A75000 !important;
  opacity: 1 !important;
}

.v-theme--light .v-btn:hover,
.v-theme--light .v-btn:focus-visible,
.v-theme--light .v-list-item:not(.v-list-item--prepend):hover,
.v-theme--light .v-list-item:not(.v-list-item--prepend):focus-visible {
  background: #FF9D42 !important;
  opacity: 1 !important;

}

.v-btn__overlay {
  opacity: 0 !important
}

.v-theme--dark .v-list .v-list-item--link:not(.v-list-item--prepend):hover,
.v-theme--dark .v-list .v-list-item--link:not(.v-list-item--prepend):focus,
.v-theme--dark .v-list .v-list-item--active:not(.v-list-item--prepend):focus
{
  /* List item hover */
  background-color: #A75000 !important;
}

.v-theme--dark .v-icon--clickable:not(.v-data-table-header__sort-icon):hover,
.v-theme--dark .v-icon--clickable:not(.v-data-table-header__sort-icon):focus,
.mdi-close-box:hover,
.mdi-close-box:focus {
  color: #A75000 !important;
}

.v-theme--light .v-list .v-list-item--link:not(.v-list-item--prepend):hover,
.v-theme--light .v-list .v-list-item--link:not(.v-list-item--prepend):focus,
.v-theme--light .v-list .v-list-item--active:not(.v-list-item--prepend):focus
{
  /* List item hover */
  background-color: #FF9D42 !important;
}

.v-theme--light .v-icon--clickable:not(.v-data-table-header__sort-icon):hover,
.v-theme--light .v-icon--clickable:not(.v-data-table-header__sort-icon):focus {
  color: #FF9D42 !important;
}

.v-theme--light .v-list .v-list-item--active:not(.v-list-item--prepend) {
  /* List item, active item */
  background-color: #C6F0FD !important;
}

.v-theme--dark .v-list .v-list-item--active:not(.v-list-item--prepend) {
  /* List item, active item */
  background-color: #00617E !important;
}

.v-theme--dark .v-field--variant-outlined.v-field--focused .v-field__outline {
  color: #C6F0FD;
}

.v-theme--light .v-field--variant-outlined.v-field--focused .v-field__outline {
  color: #00617E;
}

.v-field__append-inner>.v-icon {
  opacity: 1
}

.v-btn--icon .v-icon {
  --v-icon-size-multiplier: 1.6
}

.v-combobox--chips .v-combobox__selection,
.v-autocomplete--chips .v-autocomplete__selection {
  margin: 4px !important;
}

textarea::selection,
input::selection {
  color: rgb(var(--v-mast-scss-textarea-highlight-color)) !important;
  background: rgb(var(--v-mast-scss-textarea-highlight-background)) !important;
}

.v-combobox__mask {
  background: rgb(var(--v-mast-scss-autocomplete-highlight-background)) !important;
  color: rgb(var(--v-mast-scss-autocomplete-highlight-color)) !important;
}

.v-text-field--outlined fieldset,
.v-label:not(.v-label--is-disabled) {
  /* Set label colors per the UI mockups */
  color: rgb(var(--v-mast-scss-label-color));
  font-weight:900;
}

/* END New CSS for Vue3 update */

.v-data-table .v-data-table__th,
.v-data-table .v-data-table__td,
.v-data-table .v-row-group__header th {
  white-space: nowrap;
}

.v-data-table .v-data-table-rows-loading,
.v-data-table .v-data-table-rows-loading-no-data {
  font-weight: bolder !important;
  background: transparent !important;
}

.v-data-table .v-data-table-rows-loading td,
.v-data-table .v-data-table-rows-no-data td {
  font-size: 2rem !important;
}

.v-theme--light .v-data-table tbody tr:nth-of-type(even) {
  background-color: #F1F2F7;
}
.v-theme--dark .v-data-table tbody tr:nth-of-type(even) {
  background-color: #172A32;
}
.v-theme--dark .v-table {
  background-color: #000000;
}
.v-theme--dark .v-table .v-table__wrapper>table>tbody>tr:not(:last-child)>td,
.v-theme--dark .v-table .v-table__wrapper>table>tbody>tr:not(:last-child)>th {
  border-bottom: thin solid #153A4B;
}

.v-data-table--fixed-header>.v-data-table__wrapper>table>thead {
  /* Fix header bar and set background color.  This is a workaround
      to resolve the intermittent gaps that occur between th tags.
      These gaps were not consistent and would change depending on
      page refresh / window size.  Fixing this header bar behind the
      th tags ensures that even if those gaps appear, the thead bar
      is behind it, and will make the gap match the color of the th
      tag so that the gap is not observable by the user. */
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--v-mast-scss-alert-background)) !important;
}

.v-table.v-table--fixed-header>.v-table__wrapper>table>thead>tr>th {
  border-bottom: 1px solid rgb(var(--v-mast-scss-divider-color)) !important;
}

.v-data-table .v-data-table-footer,
.v-data-iterator .v-data-table-footer,
.v-data-table thead th,
.v-data-table .v-select__selection--comma,
.v-data-table .v-input__slot,
.v-data-table .v-input__slot:before,
.v-data-table .v-row-group__header {
  background-color: rgb(var(--v-mast-scss-alert-background)) !important;
}

.v-data-table .v-data-table-footer,
.v-data-iterator .v-data-table-footer,
.v-data-table thead th,
.v-data-table .v-select__selection--comma,
.v-data-table .v-input__slot,
.v-data-table .v-input__slot:before,
.v-data-table .v-row-group__header {
  background-color: rgb(var(--v-mast-scss-alert-background)) !important;
}

.v-data-table thead {
  background: rgb(var(--v-mast-scss-alert-background)) !important;
  border-bottom: 1px solid black !important;
}

.v-data-table tbody .v-selection-control,
.v-data-table thead .v-selection-control {
  /* Match the selection control checkbox size  to the row height
     so that the selector doesn't force the row height to be larger
  */
  --v-selection-control-size: var(--v-table-row-height) !important;
}

.v-data-table tbody tr.v-data-table__selected {
  background-color: #C6F0FD !important;
  border: 1px solid #76D5D5 !important;
  color: #000000 !important;
  font-weight: bolder;
}
.v-data-table tbody tr.v-data-table__selected .v-selection-control__input {
  color: #000000 !important;
}

.v-data-table .v-data-table-footer,
.v-data-iterator .v-data-table-footer {
  margin-right: 0 !important;
  font-weight: bolder !important;
}

.v-data-table .v-btn {
  background-color: rgb(var(--v-mast-scss-alert-background)) !important;
}

.v-data-table .v-pagination .v-btn:not(.v-btn--disabled):hover,
.v-data-table .v-pagination .v-btn:not(.v-btn--disabled):focus {
  opacity: 1 !important;
}

.v-data-table .v-btn.v-btn--disabled .v-icon {
  /* pagination icons */
  color: rgba(0,0,0,.45)!important
}





/* Per a conversation with the UX-designer on 9/17/2025, our toggle button backgrounds
   were changed to match the chip colors to differentiate them from regular action buttons
*/
.v-btn-group.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn--size-default {
  height: var(--v-mast-scss-btn-group-height) !important;
  background: rgb(var(--v-mast-scss-chip-default-background-color));
  color: rgb(var(--v-mast-scss-chip-default-text-color)) !important;
}

.v-btn-toggle .v-btn:not(.v-btn--active):not(:hover),
.v-btn-toggle:not(.v-btn-toggle--group){
  /* Unactivated toggle button */
  background: transparent !important;
  border: none !important;
  opacity: 1 !important;
}

.v-theme--light .v-btn-toggle .v-btn:not(.v-btn--active) {
  color: #000000 !important;
}

.v-btn-toggle .v-btn.add-check-icon:not(.v-btn--text):not(.v-btn--outlined).v-btn--active .v-btn__content::before {
  /* Active toggle buton, enable checkbox icon when active/selecgted */
  /* Add add-check-icon class to toggle button to enable the checkbox icon */
    content:"\F0132";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right:2px;
}

.v-btn-toggle .v-btn.add-check-icon:not(.v-btn--text):not(.v-btn--outlined):not(.v-btn--active) .v-btn__content::before {
  /* Active toggle buton, enable empty checkbox icon when not active */
  /* Add add-check-icon class to toggle button to enable the checkbox icon */
    content:"\F0131";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right:2px;
}

.v-btn-toggle .v-btn.add-filter-icon:not(.v-btn--text):not(.v-btn--outlined).v-btn--active .v-btn__content::before {
  /* Active toggle buton, enable checkbox icon when active/selecgted */
  /* Add add-check-icon class to toggle button to enable the checkbox icon */
    content:"\F0232";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right:2px;
}

.v-btn-toggle .v-btn.add-filter-icon:not(.v-btn--text):not(.v-btn--outlined):not(.v-btn--active) .v-btn__content::before {
  /* Active toggle buton, enable empty checkbox icon when not active */
  /* Add add-check-icon class to toggle button to enable the checkbox icon */
    content:"\F0233";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right:2px;
}

.v-btn-toggle .v-btn.add-radio-icon:not(.v-btn--text):not(.v-btn--outlined).v-btn--active .v-btn__content::before {
  /* Active toggle buton, enable checkbox icon when active/selecgted */
  /* Add add-check-icon class to toggle button to enable the checkbox icon */
    content:"\F0130";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right:2px;
}

.v-btn-toggle .v-btn.add-radio-icon:not(.v-btn--text):not(.v-btn--outlined):not(.v-btn--active) .v-btn__content::before {
  /* Active toggle buton, enable empty checkbox icon when not active */
  /* Add add-check-icon class to toggle button to enable the checkbox icon */
    content:"\F012f";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    padding-right:2px;
}



/* DATETIME */
.v-date-picker-month__day--selected .v-btn {
  background: #ff5722 !important;
  color: #FFFFFF !important;
}
/* v-btn--variant-outlined is the current day that has it's own default styling. */
.v-theme--dark .v-date-picker-month__day:not(.v-date-picker-month__day--selected) .v-btn:not(.v-btn--variant-outlined) {
  color: #FFFFFF !important;
}
.v-theme--light .v-date-picker-month__day:not(.v-date-picker-month__day--selected) .v-btn:not(.v-btn--variant-outlined) {
  color: #000000 !important;
}
.v-theme--light .v-time-picker-controls__time__btn__active.v-time-picker-controls__time__btn .v-btn__content,
.v-theme--light .v-btn--active.v-time-picker-controls__time__btn .v-btn__content {
  color: #000000 !important;
}
.v-theme--light .v-time-picker-controls__time__btn .v-btn__content {
  color: #A0A0A0 !important;
}
.v-theme--dark .v-time-picker-controls__time__btn__active.v-time-picker-controls__time__btn .v-btn__content,
.v-theme--dark .v-btn--active.v-time-picker-controls__time__btn .v-btn__content {
  color: #FFFFFF !important;
}
.v-theme--dark .v-time-picker-controls__time__btn .v-btn__content {
  color: #AEAEAE !important;
}